@font-face {
  font-family: Gothambold;
  src: url("../fonts/GothamBold.ttf");
}

@font-face {
  font-family: Gothammedium;
  src: url("../fonts/GothamMedium.ttf");
}

@font-face {
  font-family: Gothambook;
  src: url("../fonts/GothamBook.ttf");
}

$lightBlue: #b09cfc;
$black: #000;
$white: #fff;